


<% i = 0 %>
<div class="container" >
  <h1 class="sd-main-heading">Blogs</h1>
  <% while i < @blogs.length %>
    <div class="row">
      <% count = 0 %>
      <% while count < 4 %>
        <% break if i + count > @blogs.length - 1 %>



        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >

          <div class="box-part text-center" style="border: 0.5px solid black;  border-radius:10px;">



            <div class="title">
              <h1 class="h1"><%= @blogs[i+count].title %></h1>
              <span><small>Published: <%=time_ago_in_words(@blogs[i+count].created_at) %> ago</small></span>
            </div>

            <div class="text">


              <%= down(@blogs[i+count].content) %>
            </div>

            <%= link_to 'Continue Reading', blog_path(@blogs[i+count]), class: 'btn btn-xs btn-primary',style: 'color:white'%>

          </div>
        </div>





        <% count += 1 %>
      <% end %>
    </div>

    <% i += 4 %>
  <% end %>

</div>