<div class="w3-content w3-display-container-fluid" style="height: 45vw;width: 80vw;">


  <div class="w3-display-container-fluid mySlides">
    <% if @images.first %>
      <%= link_to image_tag(@images.first.image, class: 'animate-right sd-slideshow-image'), image_path(@images.first) %>
      <div class="w3-display-bottommiddle w3-large w3-container w3-padding-16 w3-black">
        <%= @images.first.title %>
      </div>
    <% end %>
  </div>
  <% for i in 1...@images.length %>
    <% if @images[i] %>
      <div class="w3-display-container-fluid mySlides">
        <%= link_to image_tag(@images[i].image, class: 'animate-right sd-slideshow-image'), image_path(@images[i]) %>

        <div class="w3-display-bottommiddle w3-large w3-container w3-padding-16 w3-black">
          <%= @images[i].title %>
        </div>
      </div>
    <% end %>
  <% end %>

  <button class="w3-button w3-display-left w3-black" id="prev">&#10094;</button>
  <button class="w3-button w3-display-right w3-black" id="next">&#10095;</button>

</div>

<script>
    var i = 1;
    var x = document.getElementsByClassName("mySlides");


    function init() {
        i = 0;

        document.getElementsByClassName("mySlides")[0].style.display = "block";
        setTimeout(showDivNext, 6000);
    }

    init();

    function showDivNext() {


        if (i > x.length - 2) {
            x[i].style.display = "none";
            init();
        } else {
            x[i].style.display = "none";

            x[i + 1].style.display = "block";

            i += 1;
            setTimeout(showDivNext, 6000);
        }


    }

    function showDivPrev() {

        if (i - 1 < 0) {
            x[i].style.display = "none";
            i = x.length - 1;
            x[i].style.display = "block";
            setTimeout(function () {
                x[i].style.display = "none";
                init();
            }, 6000);

        } else {
            x[i].style.display = "none";

            x[i - 1].style.display = "block";
            i -= 1;
            setTimeout(showDivNext, 6000);
        }

    }

    function clear() {
        var id = window.setTimeout(function () {
        }, 0);

        while (id--) {
            window.clearTimeout(id); // will do nothing if no timeout with id is present
        }
    }

    document.getElementById('next').addEventListener('click', function () {
        clear();
        showDivNext();
    });
    document.getElementById('prev').addEventListener('click', function () {
        clear();
        showDivPrev();
    });
</script>
