
<div class="container-fluid">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="700">
  <div class="carousel-inner">
    <div class="carousel-item active">


      <img src="https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg" class="d-block w-100">
    </div>
  </div>
</div>
</div>