<div class="container">
  <div class="row">

    <% for i in 0...3 %>
      <% if @projects[i] %>
        <div class="col-md-3">
          <div class="card" style="border: 1.5px solid black;height: auto;width: auto; ">
            <%= image_tag(@projects[i].image, class: 'card-img-top') %>
            <div class="card-footer" style="background-color: #F05656">
              <div class="row">
                <div class="col-sm-7">
                  <p style="color: white;font-weight: bold;font-size: medium"><%= @projects[i].title %></p>
                </div>
                <div class="col-sm-5">
                  <p style="color: white">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>  <%= @projects[i].location %>
                  </p></div>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  &nbsp;&nbsp;
                  <% for k in 0...@projects[i].rating %>
                    <i class="fas fa-star" style="color: yellow"></i>
                  <% end %>
                </div>
                <div class="col-sm-5"></div>
                <div class="col-sm-3">
                  <h5 style="color:white;float: right"></h5></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>


  </div>
</div>