<h1 class="sd-main-heading">About Us</h1>

<style>



  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }
</style>


<% content_for :for_head do %>
  <title>Staggering|About</title>
  <meta name="description" content="About Staggering Designs"/>
<% end %>


<div class="container">
<div class="row">
  <div class="col-md-6">

    <div class="card">
      <%= image_tag('akash.jpg',style:'width:100%' ) %>
      <div class="container">
        <h2>Aaksh Burania</h2>
        <p class="text-capitalize">Architecture</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">

      <%= image_tag('vishal.jpg',style:'width:100%;') %>
      <div class="container">
        <h2>Vishal</h2>
        <p class="text-capitalize">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

</div>
</div>

<br><br><br><br>