
.sd-main-heading{
  padding-bottom: 1em;
  font-family: 'Poppins';
  color: grey;
  text-align: center;
  font-size: 3em;
  margin-top: 20px;
}





//Navbar

.sd-navbar{
  background-color: #666666;
  color: white;
}

a.nav-link:link, a.nav-link:visited{
  color:gold;
}
a.nav-link:hover, a.nav-link:active{
  color:white;
}


//Navbar end

