<div style="margin-top: 10em"></div>
<footer class="footer font-small pt-4 sd-background">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="color:white;">Staggering <span class="sd-heading">Designs</span></h5>

        <%=image_tag('logo.png',class: 'img-thumbnail mx-auto  img-fluid') %>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase sd-heading">Location:</h5>
        <p class="sd-light-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla laudantium, deserunt fugit minima laborum fugiat tempora ipsum corrupti aspernatur veritatis architecto sunt, aliquid reprehenderit beatae, labore soluta. Facilis, eius hic?</p>
      </div>

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!--Social Media- Links -->
        <h5 class="text-uppercase sd-heading">Connect</h5>

        <a href="https://www.instagram.com/staggeringdesign/" target="_blank"><i class="fab fa-instagram fa-lg" style="color: white"></i></a>&nbsp;&nbsp;
        <a href="https://www.youtube.com/channel/UCiv2jYuE5tQjO73pwDWR6Nw" target="_blank"><i class="fab fa-youtube fa-lg" style="color: white"></i></a>&nbsp;&nbsp;
        <a href="https://in.pinterest.com/staggeringdesigns/pins/" target="_blank"><i class="fab fa-pinterest fa-lg" style="color: white"></i></a>&nbsp;&nbsp;
        <a href="https://twitter.com/StaggeringD" target="_blank"><i class="fab fa-twitter" style="color: white"></i></a> &nbsp;&nbsp;
        <a href="https://www.facebook.com/staggeringdesign/" target="_blank"><i class="fab fa-facebook-f fa-lg" style="color: white"></i></a>

      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 sd-dark">© 2019 Copyright:
    <%= link_to 'Staggering Designs', root_path %>
  </div>
  <!-- Copyright -->

</footer>